<!doctype html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>GHSA</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">

  <!-- move these to .info during theming -->
  <link rel="stylesheet" type="text/css" href="/sites/html/css/app.css" />
  <link rel="stylesheet" type="text/css" href="/sites/html/css/ie.css" />

  <!-- move these to .info during theming -->
  <script type="text/javascript" src="/sites/html/js/jquery-2.2.3.min.js"></script>
  <!--<script type="text/javascript" src="bower_components/what-input/what-input.js"></script>-->
  <script type="text/javascript" src="/sites/html/js/foundation.js"></script>
  <script type="text/javascript" src="/sites/html/js/app.js"></script>
  <script type="text/javascript" src="/sites/html/js/scripts.js"></script>

</head>

<body>

</body>
  {{ page }}
</html>