{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 */
#}

			
<!-- START: section.main_breadcrumb_container -->
<div class="main_breadcrumb_container columns small-10 column_no_padding_left">

	<div class="breadcrumb">
	{% if breadcrumb %}
		<nav role="navigation" aria-labelledby="system-breadcrumb">
			<h2 class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
			<ul>
			{% for item in breadcrumb %}
				<li>
					{% if item.url %}
						<a href="{{ item.url }}">{{ item.text }}</a>
					{% else %}
						{{ item.text }}
					{% endif %}
				</li>
			{% endfor %}
			</ul>
		</nav>
	{% endif %}
	</div>

</div>
<!-- END: section.main_breadcrumb_container -->
