/**************************************************************/
/*  nav.header_primary_menu  */
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    content: none;  }

.dropdown.menu > li.is-dropdown-submenu-parent > a {
    padding-right: 10px;
    padding-left: 10px;
}